* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.float-left {
  float: left;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 500px;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border-radius: 20px;
  text-decoration: none;
}

.btn-white {
  background-color: white;
}

#menu {
  background-color: #3161e0;
  height: 100px;
  font-size: 0.9rem;
  line-height: 100px;
}

#hero {
  background-color: blue;
  height: 500px;
}

#logo {
  vertical-align: middle;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  line-height: 100px;
  margin-right: 30px;
}

#navbar li a {
  text-decoration: none;
  color: white;
}

#navbar li a:hover {
  text-decoration: underline;
}

.btn-small {
  padding: 8px 10px;
  color: black;
}