* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.w-20 {
  width: 20%;
}

.w-45 {
  width: 45%;
}

.w-60 {
  width: 60%;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.float-left {
  float: left;
}

header {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border-radius: 20px;
  text-decoration: none; 
}

.btn-small {
  padding: 8px 10px;
}

.btn-big {
  padding: 12px 18px;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-black {
  background-color: #23272a;
  color: white;
}

#menu {
  background-color: #255ee9;
  height: 80px;
  font-size: 0.9rem;
  line-height: 80px;
}

#logo {
  vertical-align: middle;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
}

#navbar li a {
  text-decoration: none;
  color: white;
}

#navbar li a:hover {
  text-decoration: underline;
}

#hero {
  height: 545px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#hero .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
}

#hero .fas.fa-long-arrow-alt-down {
  padding-left: 5px;
  margin-right: 5px;
}

#hero h1 {
  font-size: 2.7rem;
  padding-bottom: 70px;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons :first-child {
  margin-right: 20px;
}

