* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-35 {
  width: 35%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

header {
  position: relative;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border-radius: 20px;
  text-decoration: none; 
}

.btn-small {
  padding: 8px 10px;
}

.btn-big {
  padding: 12px 18px;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-black {
  background-color: #23272a;
  color: white;
}

.btn-blue {
  background-color: #8ea1e1;
  color: white;
}

.white-sec {
  background-color: #fff;
  padding-bottom: 40px;
  padding-top: 60px;
}

.grey-sec {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  padding-top: 80px;
}

.grey-sec.special{
  text-align: center;
}

#menu {
  background-color: #255ee9;
  height: 80px;
  font-size: 0.9rem;
  line-height: 80px;
}

.logo {
  vertical-align: middle;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
}

#navbar li a {
  text-decoration: none;
  color: #fff;
}

#navbar li a:hover {
  text-decoration: underline;
}

#hero {
  height: 545px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#hero .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
}

.fas.fa-long-arrow-alt-down {
  padding-left: 5px;
  margin-right: 10px;
}

#hero h1 {
  font-size: 2.7rem;
  padding-bottom: 70px;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons * {
  display: inline-block;
  line-height: normal;
}

.hero-buttons :first-child {
  margin-right: 10px;
}


/* Main */
.wave1 {
  background-image: url(../img/wave.svg);
  height: 90px;
  background-color: #090909;  /* inverted of #f6f6f6; */
  transform: rotate(180deg);
  filter: invert(100%);
}


.wave2 {
  background-image: url(../img/wave.svg);
  height: 90px;
  background-color: #090909;  /* inverted of #f6f6f6; */
  filter: invert(100%);
}

.text-item {
  padding-top: 30px;
}

.text-item h2 {
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 30px;
}

.text-item p {
  line-height: 1.5rem;
}

.grey-sec.special .text-item {
  padding-top: 0;
}

.grey-sec.special :last-child {
  margin-top: 20px;
}

main img {
  width: 100%;
}

.adventure {
  background-image: url(../img/stars.svg);
  height: 43px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -10px;
}


footer {
  background-color: #23272a;
  color: #6c81cd;
  padding-bottom: 50px;
}

footer h5 {
  padding-top: 5px;
}

.top-foot {
  border-bottom: 1px solid #6c81cd;
  padding-top: 50px;
  padding-bottom: 25px;
}

footer ul li {
  list-style-type: none;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

.bottom-foot {
  line-height: 80px;
  height: 80px;
}

.language {
  font-size: 0.7rem;
  padding-top: 20px;
}

.language img {
  width: 5%;
  padding-right: 5px;
}

.contacts {
  padding-top: 15px;
}

.contacts * {
  padding-right: 15px;
}